.button{
    background-color: blue;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    &:hover{
        background-color: rgb(26, 26, 240);
    }
    &:active{
        background-color: rgb(0, 0, 129);
    }
}