

.nav-button{
    font-size: 14px;
    font-weight: 200;
    &:active{
        text-decoration: underline;
    }
}

@media screen and (min-width: 700px){
    .nav-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        background-color: black;
        color: white;
        border-radius: 10px;
        border: none;
        &:hover{
            background-color: rgb(31, 30, 30);
            font-weight: 400;
        }
        &:active{
            text-decoration: none;
        }
    }

    .nav-button__modify{
        background-color: #f5f4f1;
        color: black;
        &:hover{
            background-color: #dfddd9;
            font-weight: 400;
        }
        &:active{
            text-decoration: none;
        }
    }
}